
<div id="fondo-tabla">
        <div id="fondo">
            <h2>Jugadores Registrados</h2>
            <table>
                <tr>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>Provincia</th>
                    <th>Poblacion</th>
                    <th>Nivel</th>
                    <th>Partidos Jugados</th>
                    <th>Partidos Ganados</th>
                    <th>Partidos Perdidos</th>
                </tr>
                <tr *ngFor="let jugador of jugadores">
                    <td class="seleccionado">
                        {{jugador.nombre}}
                    </td>
                    <td>
                        {{jugador.edad}}
                    </td>
                    <td>
                        {{jugador.provincia}}
                    </td>
                    <td>
                        {{jugador.poblacion}}
                    </td>
                    <td>
                        {{jugador.nivel}}
                    </td>
                    <td>
                        {{jugador.partju}}
                    </td>
                    <td>
                        {{jugador.partga}}
                    </td>
                    <td>
                        {{jugador.partpe}}
                    </td>
                </tr>
                
            </table>
        </div>
</div>

