#fondo-tabla {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}

#fondo {
    border-radius: 1rem;
    background-color: azure;
    box-shadow: 0 0 3px gray;
    font-family: Sans-serif;
}

h2 {
    margin-left: 1rem;
    margin-top: 1rem;
}
 
table {
    background-color: rgb(105, 141, 172);
    margin: 1rem;
}

table tr {
    border-radius: 1rem 1rem 0 0;
    border: 1px solid black;
}

table tr th {
    padding: 1rem 0.5rem;
}

table tr td {
    padding: 0.5rem 0.5rem;
}

table tr:nth-child(even){
    background-color: rgb(238, 249, 255);
}

table tr:nth-child(odd){
    background-color: rgb(219, 241, 255);
}


.seleccionado {
    cursor: pointer;
}



/*detalle del jugador*/


.margenarriba {
    margin-top: 2rem;
}


#detalle-jug {
    background-color: #78D6C6;
}

#detallejugador {
    background-color: #F4FFF8;
}



.foto-detalle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.nombre-detalle {
    font-size: large;
}

.nivel-detalle {
    font-size: large;
}

.part {
    display: flex;
    flex-direction: column;
    font-size: small;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem 1rem 0 0;
}

.juga {
    background-color: bisque;
}

.ganad {
    background-color: rgb(143, 255, 162);
}

.perd {
    background-color: rgb(255, 135, 135);
}