
<video src="assets/images/tenis-fondo.mp4" width="100%" autoplay [muted]="'muted'" loop> 
</video>
<h2>APUNTATE Y DIVIERTETE JUGANDO AL TENIS</h2>
<div>
    <p id="subtitulo">Practicar tenis es una actividad deportiva que ofrece una amplia gama de beneficios tanto físicos como mentales. Este deporte no solo es divertido, sino que también es una excelente forma de mantenerse activo y saludable. </p>
    
    <article class="articuloiz">
        <p>1. Mejora la condición física: El tenis es un deporte que implica movimientos rápidos, cambios de dirección y explosividad. Jugar tenis regularmente puede ayudarte a mejorar tu resistencia cardiovascular, fuerza muscular, agilidad y coordinación.</p>
        <img src="assets/images/tenista-condicion-fisica.png" alt="">
    </article>
    <article class="articulode">
        <img src="assets/images/tenista-actividad-fisica.png" alt="">
        <p>2. Quema calorías: El tenis es una actividad física intensa que quema calorías de manera efectiva. Jugar durante una hora puede ayudarte a quemar un número significativo de calorías, lo que puede contribuir a mantener un peso saludable.</p>
    </article>
    <article class="articuloiz">
        <p>3. Fortalece los músculos: El tenis trabaja diversos grupos musculares, incluyendo los brazos, piernas, espalda y abdomen. Esto ayuda a desarrollar una musculatura equilibrada y a fortalecer los músculos de soporte, reduciendo el riesgo de lesiones.</p>
        <img src="assets/images/tenista-fortalecer-musculos.png" alt="">
    </article>
    <article class="articulode">
        <img src="assets/images/tenista-agilidad-mental.png" alt="">
        <p>4. Mejora la agilidad mental: El tenis es un deporte rápido que requiere concentración y toma de decisiones rápidas. Jugar tenis regularmente puede mejorar tus habilidades cognitivas, como la capacidad de anticipar movimientos del oponente y reaccionar de manera efectiva.</p>
    </article>
    
</div>
